.register {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    height: 100vh;
    object-fit: contain;
    overflow: hidden;

    &-image {
      height: 100vh;
    }
  }

  &-right {
    flex: 1;

    &-title {
      div {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 4rem;
      }
    }

    &-login {
      font-size: 1.2rem;
    }
  }
}
