.header {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    width: 25%;
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
    }

    .header-title {
      font-size: 2rem;
    }
  }

  &-menu {
    width: 40%;

    .active {
      color: #1890ff;
    }
  }

  &-user {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-search {
      display: flex;
      position: relative;

      span {
        font-size: 2rem;
        position: absolute;
        top: 8px;
        right: 0;
      }
    }

    &-action {
      font-size: 2rem;
      cursor: pointer;
      position: relative;

      .active {
        visibility: visible !important;
      }

      .action-title {
      }

      .action-list {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        list-style: none;
        min-width: 18rem;
        left: -2rem;
        top: 4rem;
        text-align: left;
        padding-left: 2rem;
        font-size: 1.6rem;
        background-color: white;

        &-item {
        }

        &::after {
          content: "";
          position: absolute;
          width: 16rem;
          height: 2.6rem;
          top: -1.8rem;
          left: 0;
        }

        &::before {
          content: "";
          position: absolute;
          top: -1.3rem;
          right: 8rem;
          border-left: 1.4rem solid transparent;
          border-right: 1.4rem solid transparent;
          border-bottom: 1.4rem solid white;
        }
      }
    }

    &-cart {
      font-size: 2rem;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      &-count {
        position: absolute;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 1px 5px;
        font-size: 0.8rem;
        top: 0;
        right: -6px;
      }
    }
  }
}
