.login {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-left {
    height: 100vh;
    object-fit: contain;
    overflow: hidden;

    &-image {
      height: 100vh;
    }
  }

  &-right {
    flex: 1;

    &-title {
      span {
        font-size: 1.6rem;
      }

      div {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
      }
    }

    &-register {
      font-size: 1.2rem;
    }
  }
}
